graft doq

include LICENSE
include README.rst
include setup.cfg
include setup.py
include doq/templates/google/*.txt
include doq/templates/numpy/*.txt
include doq/templates/sphinx/*.txt

exclude requirements.txt

global-exclude __pycache__
global-exclude *.py[co]

prune tests
prune tests/fixtures
prune tests/expected
prune examples
